.Engine-Container {
    min-height: 85vh;
    max-height: 100vh;
}

#renderer {
    transition: all ease-in-out .5s;
}

.Home-Section {
    min-height: 70vh;
}

.Home-Blur-1 {
    filter: blur(3px);
}
.Home-Blur-2 {
    filter: blur(5px);
}
.Home-Blur-3 {
    filter: blur(8px);
}
.Home-Blur-4 {
    filter: blur(13px);
}
.Home-Blur-5 {
    filter: blur(21px);
}