.Projects_Modal > *:focus {
    outline: none !important;
    
    -webkit-animation: fade_in .5s;
    animation: fade_in .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@-webkit-keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}
@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}