.Icon {
    @apply px-2;
    @apply aspect-square;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.Icon > * {
    @apply fill-l_onBackground-200 dark:fill-d_onBackground-200; 
}
.Icon > *:hover {
    @apply fill-l_onBackground-100 dark:fill-d_onBackground-100; 
}