@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.light {
    --color-primary: #33618D;
    --color-surfacetint: #33618D;
    --color-onprimary: #FFFFFF;
    --color-primarycontainer: #D0E4FF;
    --color-onprimarycontainer: #001D34;
    --color-secondary: #00696F;
    --color-onsecondary: #FFFFFF;
    --color-secondarycontainer: #9DF0F8;
    --color-onsecondarycontainer: #002022;
    --color-tertiary: #506527;
    --color-ontertiary: #FFFFFF;
    --color-tertiarycontainer: #D2EC9F;
    --color-ontertiarycontainer: #131F00;
    --color-error: #BA1A1A;
    --color-onerror: #FFFFFF;
    --color-errorcontainer: #FFDAD6;
    --color-onerrorcontainer: #410002;
    --color-background: #F8F9FF;
    --color-onbackground: #191C20;
    --color-surface: #F8F9FF;
    --color-onsurface: #191C20;
    --color-surfacevariant: #DFE3EB;
    --color-onsurfacevariant: #42474E;
    --color-outline: #73777F;
    --color-outlinevariant: #C2C7CF;
    --color-shadow: #000000;
    --color-scrim: #000000;
    --color-inversesurface: #2D3135;
    --color-inverseonsurface: #EFF1F7;
    --color-inverseprimary: #9ECAFC;
    --color-primaryfixed: #D0E4FF;
    --color-onprimaryfixed: #001D34;
    --color-primaryfixeddim: #9ECAFC;
    --color-onprimaryfixedvariant: #154974;
    --color-secondaryfixed: #9DF0F8;
    --color-onsecondaryfixed: #002022;
    --color-secondaryfixeddim: #80D4DB;
    --color-onsecondaryfixedvariant: #004F54;
    --color-tertiaryfixed: #D2EC9F;
    --color-ontertiaryfixed: #131F00;
    --color-tertiaryfixeddim: #B6D085;
    --color-ontertiaryfixedvariant: #394D11;
    --color-surfacedim: #D8DAE0;
    --color-surfacebright: #F8F9FF;
    --color-surfacecontainerlowest: #FFFFFF;
    --color-surfacecontainerlow: #F2F3F9;
    --color-surfacecontainer: #ECEEF4;
    --color-surfacecontainerhigh: #E6E8EE;
    --color-surfacecontainerhighest: #E0E2E8;
}

.dark {
    --color-primary: #9ECAFC;
    --color-surfacetint: #9ECAFC;
    --color-onprimary: #003256;
    --color-primarycontainer: #154974;
    --color-onprimarycontainer: #D0E4FF;
    --color-secondary: #80D4DB;
    --color-onsecondary: #00363A;
    --color-secondarycontainer: #004F54;
    --color-onsecondarycontainer: #9DF0F8;
    --color-tertiary: #B6D085;
    --color-ontertiary: #243600;
    --color-tertiarycontainer: #394D11;
    --color-ontertiarycontainer: #D2EC9F;
    --color-error: #FFB4AB;
    --color-onerror: #690005;
    --color-errorcontainer: #93000A;
    --color-onerrorcontainer: #FFDAD6;
    --color-background: #101418;
    --color-onbackground: #E0E2E8;
    --color-surface: #101418;
    --color-onsurface: #E0E2E8;
    --color-surfacevariant: #42474E;
    --color-onsurfacevariant: #C2C7CF;
    --color-outline: #8C9199;
    --color-outlinevariant: #42474E;
    --color-shadow: #000000;
    --color-scrim: #000000;
    --color-inversesurface: #E0E2E8;
    --color-inverseonsurface: #2D3135;
    --color-inverseprimary: #33618D;
    --color-primaryfixed: #D0E4FF;
    --color-onprimaryfixed: #001D34;
    --color-primaryfixeddim: #9ECAFC;
    --color-onprimaryfixedvariant: #154974;
    --color-secondaryfixed: #9DF0F8;
    --color-onsecondaryfixed: #002022;
    --color-secondaryfixeddim: #80D4DB;
    --color-onsecondaryfixedvariant: #004F54;
    --color-tertiaryfixed: #D2EC9F;
    --color-ontertiaryfixed: #131F00;
    --color-tertiaryfixeddim: #B6D085;
    --color-ontertiaryfixedvariant: #394D11;
    --color-surfacedim: #101418;
    --color-surfacebright: #36393E;
    --color-surfacecontainerlowest: #0B0E12;
    --color-surfacecontainerlow: #191C20;
    --color-surfacecontainer: #1D2024;
    --color-surfacecontainerhigh: #272A2F;
    --color-surfacecontainerhighest: #32353A;
}